<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Restoration</title>
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
        color: #021526;
      }
      h1 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        color: #1d1d1d;
      }
      p {
        text-align: center;
        margin-bottom: 20px;
      }

      .container {
        max-width: 500px;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
      }
      .form-group {
        position: relative;
      }
      label {
        display: block;
        color:#021526;
        font-size: 16px;
        background-color: white;
        padding: 0 5px;
        margin-bottom: 8px;
        font-weight: 500;
      }
      .input {
        display: block;
        height: 54px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #1d1d1d;
        padding: 10px;
        margin-bottom: 25px;
        font-size: 16px;
      }
      .submit {
        height: 54px;
        width: 100%;
        border-radius: 10px;
        text-transform: 'uppercase';
        background-color: #1d1d1d;
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
      }
      .error {
        color: rgb(180, 2, 2);
        display: none;
      }

      .info {
        color: rgb(78, 78, 78);
        width: 100%;
        margin-bottom: 20px;
      }

      span {
        font-weight: bold;
      }

      .error-window {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        color: rgb(180, 2, 2);
      }

      .hidden {
        display: none;
      }

      @media screen and (max-width: 525px) {
        .container {
          width: 100%;
          padding: 30px 10px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="sucess hidden"><h1>Password Restored!</h1></div>
      <div class="error-window hidden">An Error Occured</div>
      <div class="form">
        <h1>Password Restoration</h1>
        <p>Create new password for <span><%= email %></span></p>
        <!-- <p class="info">Пароль повинен бути 8-14 символів, містити літери та цифри</p> -->
        <form action="" method="post">
          <div class="form-group">
            <label for="password">New Password</label>
            <input
              class="input"
              type="password"
              name="password"
              id="password"
              required
            />
          </div>
          
          <div class="form-group">
            <label for="repeat_password">Repeat Password</label>
            <input
              class="input"
              type="password"
              name="repeat_password"
              id="repeat_password"
              required
            />
          </div>
          
          <p id="error" class="error">Error</p>
          <input id="submit" class="submit" name="reset" type="submit" value="Change Password" />
        </form>
      </div>
    </div>

    <script>
        const passwordInput = document.querySelector('#password');
        const repeatPasswordInput = document.querySelector('#repeat_password');
        const submitBtn = document.querySelector('#submit');
        const errorMessage = document.querySelector('#error');
        const errorBorder = '1px solid rgb(180, 2, 2)';
        const sucessMessage = document.querySelector('.sucess');
        const errorWindow = document.querySelector('.error-window');
        const form = document.querySelector('.form');

        const PASS_VALID = /^(?=.*\d)(?=.*[a-z]).{8,14}$/;
        // console.log();

        const clearInputs = () => {
          passwordInput.value = '';
          repeatPasswordInput.value = '';
        }

        const showPasswordError = (message) => {
          errorMessage.style.display = 'block';
          errorMessage.textContent = message;
          passwordInput.style.border = errorBorder;
          repeatPasswordInput.style.border = errorBorder;
        }

        submit.addEventListener('click', (e) => {
          e.preventDefault();
          if (!passwordInput.value || !repeatPasswordInput.value) {
            showPasswordError('Enter password');
            return;
          } 
          if (passwordInput.value !== repeatPasswordInput.value) {
            showPasswordError('Passwords do not match');
            return;
          } 
          // else if (!PASS_VALID.test(passwordInput.value)) {
          //   showPasswordError('Пароль повинен бути 8-14 символів, містити літери та цифри');
          //   return;
          // }

          fetch(window.location.href, {
            method: 'POST',
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              password: passwordInput.value
            })
          })
          .then((res) => {
            console.log(res);
            if (res.ok) {
              clearInputs();
              sucessMessage.classList.remove('hidden');
              form.classList.add('hidden');
            } else {
              errorWindow.classList.remove('hidden');
              form.classList.add('hidden');
            }
          })
          .catch((err) => {
            errorWindow.classList.remove('hidden');
            form.classList.add('hidden');
          })
        })
    </script>
  </body>
</html>
